<!DOCTYPE html>
<html>
<head>
  <title>Cosas que he comprado</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>

  <section class="app-cont">
    <%= yield %>
  </section>

  <%= render "layouts/footer" %>

</body>
</html>
